section {
    width: min(100% - 7vw, 1200px);
    margin-inline: auto;
    margin-top: 4rem;
}

.crew {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    display: block;
    max-width: 100%;
}

/* MOBILE IMAGE  */
.crewImg_mobile {
    display: none;
}

.crew img {
    width: 85%;
}

section p,
h1,
h2,
h3,
h4,
h5,
span {
    color: var(--WHITE);
}

.secction_number span {
    font-size: 1.5rem !important;
}

.secction_number>span {
    color: var(--VERY-LIGHT-WHITE);
}

.secction_number span:last-child {
    margin-inline-start: 8px;
}

.secction_number span {
    font-family: var(--ff-sans-cond);
    text-transform: uppercase;
    font-weight: 300;
}

/* MAIN SECTION  */
/* CREW CONTENTS  */

/* CREW CONTENT  */
.crew_content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.crew_content {
    width: 45%;
}

.crew_content h3 {
    font-size: clamp(1.8rem, 3vw, 2rem);
    color: var(--VERY-LIGHT-WHITE);
    font-weight: var(--FW-400);
}

.crew_content h2,
h3 {
    text-transform: uppercase;
    font-family: var(--ff-serif);

}

.crew_content h2 {
    font-size: clamp(2.5rem, 3vw, 3rem);
    font-weight: var(--FW-500);
}

/* CREW CONTENT BUTTONS  */
.crew_toggle__btn button {
    margin: 7px;
    border: none;
    width: 15px;
    height: 15px;
    background-color: var(--VERY-LIGHT-WHITE);
    opacity: .7;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: 1px solid var(--VERY-LIGHT-WHITE);
}

.crew_toggle__btn button:hover {
    background-color: var(--LIGHT-WHITE);
}

button.ativeBtn {
    background-color: var(--WHITE);
}

@media screen and (max-width: 1024px) {
    .crew_content h2 {
        font-size: clamp(2rem, 3vw, 2.5rem);
        font-weight: var(--FW-500);
    }

    .container {
        overflow-x: hidden;
    }

    .crew_content h3 {
        font-size: clamp(1.5rem, 3vw, 2rem);
    }

    .img_crew {
        margin-right: -6.3rem;
    }
}


@media screen and (max-width: 768px) {
    .crew {
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 3rem;
        align-items: center;
    }

    .crew img {
        justify-self: center;
        /* width: min-content; */
        align-self: center;
        width: 70%;
        margin-inline: 20%;
        text-align: center;
    }

    .crew_content {
        margin-top: 1.5rem;
        gap: 1rem;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    /* CREW IMAGE DESKTOP / MOBILE  */
    .img_crew {
        margin-right: 0rem;
    }

    .secction_number {
        text-align: center;
    }

    .crew_contents {
        margin-top: 3rem;
        text-align: center;
    }

    section {
        width: min(100% - 25vw);
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 560px) {
    .crewImg_mobile {
        display: block;
        width: 70% !important;
        border-bottom: .1px solid var(--VERY-LIGHT-WHITE);
    }


    .crewImg_desktop {
        display: none;
    }

    section {
        width: min(100% - 7vw);
    }

    .crew_content h3 {
        font-size: clamp(1.2rem, 5vw, 1.4rem);
    }

    .crew_content h2 {
        font-size: clamp(1.4rem, 5vw, 1.8rem);
    }

    .crew_contents_paragraph {
        font-size: 13px;
    }

    .secction_number {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .secction_number span {
        font-size: 1.2rem !important;
    }
}