:root {
    /* CLOUR  */
    --LIGHT-WHITE: hsl(231, 77%, 90%);
    --VERY-LIGHT-WHITE: rgba(210, 216, 249, 0.427);
    --WHITE: rgb(255, 255, 255);
    --BLACK: rgb(84, 84, 84);
    /* BOLDNESS  */
    --FW-400: 400;
    --FW-500: 500;
    --FW-600: 600;
    --FW-700: 700;
    --FW-800: 800;
    --filter: blur(10px);
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

/* MAIN SECTION  */
.start_date__content {
    display: flex;
    gap: 1rem;
}

.content_date_type  {
    font-family: var(--ff-sans-normal);
    text-transform: uppercase;
    letter-spacing: 2.4px;
    align-items: center;
    font-weight: var(--FW-400);
    font-size: 1.5rem;
    color: var(--WHITE);
}