:root {
    /* CLOUR  */
    --LIGHT-WHITE: hsl(231, 77%, 90%);
    --VERY-LIGHT-WHITE: rgba(210, 216, 249, 0.427);
    --WHITE: rgb(255, 255, 255);
    --BLACK: rgb(84, 84, 84);
    --B-BLACK: #000;
    /* BOLDNESS  */
    --FW-400: 400;
    --FW-500: 500;
    --FW-600: 600;
    --FW-700: 700;
    --FW-800: 800;
    --filter: blur(10px);
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

main {
    margin-top: 5rem;
    width: min(100% - 20vw);
    margin-inline: auto;
}

.home {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.home_main_content {
    width: 370px;
    display: flex;
    flex-direction: column;
}

.home_main_content h4 {
    font-weight: var(--FW-400);
    font-size: 1.5rem;
    letter-spacing: 4px;
    color: var(--LIGHT-WHITE);
    font-weight: var(--FW-400);
    font-family: var(--ff-sans-cond);

}

.home_main_content h1 {
    font-family: var(--ff-serif);
    color: var(--WHITE);
    font-size: 8rem;
    font-weight: var(--FW-400);
}

.home_main_content p {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: var(--FW-500);
    color: var(--LIGHT-WHITE);
}

.home_main_btn .button {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    justify-content: center;
    font-weight: var(--FW-400);
    font-size: 1.5rem;
    font-family: var(--ff-serif);
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    width: 200px;
    height: 200px;
    background-color: var(--WHITE);
    color: var(--B-BLACK);
    border-radius: 50%;
}

@media screen and (max-width: 960px) {

    /* MAIN STYLING  */
    .home_main_content h1 {
        font-size: 6rem;
    }
}

@media screen and (max-width: 768px) {
    .home_main {
        flex-direction: column;
    }

    main {
        position: relative;
        margin-top: 1rem;

    }

    .home {
        margin-top: 4rem;
        gap: 4rem;
        flex-direction: column;

    }

    .home_main_content {
        width: 100%;
    }

    .home_main_content {
        text-align: center;
    }

    .home_main_content h1 {
        font-size: 5rem;
    }

    .home_main_content h4 {
        font-size: 100%;
    }
}

@media screen and (max-width: 560px) {
    .home_main_content {
        gap: 1rem;
    }

    .home_main_content h1 {
        font-size: 5rem;
    }

    .home_main_content h4 {
        font-size: 95%;
    }

    .home_main_content p {
        font-size: 1rem;
    }

    main {
        width: min(100% - 9vw);
        margin-inline: auto;
    }
}