/* GENERAL RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLING */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-decoration: none;
    font-family: var(--ff-sans-normal);
    line-height: 1.5;
    overflow-x: hidden;
}

/* VARIABLE  */
:root {
    /* CLOUR  */
    --LIGHT-WHITE: hsl(231, 77%, 90%);
    --VERY-LIGHT-WHITE: rgba(210, 216, 249, 0.427);
    --WHITE: rgb(255, 255, 255);
    --BLACK: rgb(84, 84, 84);
    /* BOLDNESS  */
    --FW-400: 400;
    --FW-500: 500;
    --FW-600: 600;
    --FW-700: 700;
    --FW-800: 800;
    --filter: blur(10px);
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;

}

/* PAGES DESTINATION, CREW, TECHNOLOGY  */
.tech_container {
    background-image: url(./assets/technology/background-technology-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    background-position: 50%;
}

.crew_container {
    background-image: url(./assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    background-position: 50%;
}

.dest_container {
    background-image: url(./assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    background-position: 50%;
}

/* HOME PAGE  */
/* HERO BACKGROUND IMAGE  */
.main_container {
    background-image: url(./assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    background-position: 50%;
}

/* NAVIGATION MENU  */
.logo {
    margin-inline-start: 4vw;
}

.topnav ul {
    background: hsl(var(--LIGHT-WHITE)/.05);
    backdrop-filter: blur(1.5rem);
    display: flex;
    padding: 30px 100px;
    gap: 1rem;
}

.topnav ul li {
    padding: 3px 10px;
    list-style: none;
}

.nav_bold {
    font-weight: var(--FW-600);
    color: var(--WHITE);
}

.topnav_links a {
    font-size: 75%;
    text-transform: uppercase;
    font-style: normal;
    font-weight: var(--FW-400);
    text-decoration: none;
    color: var(--LIGHT-WHITE)
}

.active {
    padding-bottom: 33px;
    border-bottom: 2px solid var(--WHITE);
}


.topnav ul a:hover {
    padding-bottom: 33px;
    border-bottom: 2px solid var(--VERY-LIGHT-WHITE);
}

.logo {
    margin-top: 1.7rem;
}

ul {
    cursor: pointer;
}

.topnav {
    position: relative;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.overlay,
.open {
    display: none;
}

/* MAIN HOME SECTION  */
main {
    margin-top: 5rem;
    width: min(100% - 20vw);
    margin-inline: auto;
}

.home {
    display: flex;
    justify-content: space-between;
}

.home_main_content {
    width: 270px;
}

.home_main_content h4 {
    color: var(--LIGHT-WHITE);
    font-weight: var(--FW-400);
    font-family: var(--ff-sans-cond);
}

.home_main_content h1 {
    font-family: var(--ff-serif);
    color: var(--WHITE);
}

.home_main_content p {
    color: var(--LIGHT-WHITE)
}

.home_main_btn button {
    border: none;
    outline: none;
    display: flex;
    font-weight: var(--FW-400);
    font-size: 1.5rem;
    font-family: var(--ff-serif);
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 1rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.home_main_btn button::after {
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
    background: hsl(var(--clr-white)/.1);
    border-radius: 50%;
    transition: opacity 0.5s linear 0s, transform 0.75s ease-in-out 0s;
}

@media screen and (max-width: 960px) {
    .main_container {
        background-image: url(./assets/home/background-home-tablet.jpg);
    }

    .tech_container {
        background-image: url(./assets/technology/background-technology-tablet.jpg);
    }

    .crew_container {
        background-image: url(./assets/crew/background-crew-tablet.jpg);
    }

    .dest_container {
        background-image: url(./assets/destination/background-destination-tablet.jpg);
    }

    .topnav {
        font-size: 70%;
    }

    .topnav ul {
        background: hsl(var(--LIGHT-WHITE)/.9) !important;
        backdrop-filter: blur(30px);
    }
}

@media screen and (max-width: 768px) {

    /* HOME MAIN STYLING  */
    .home_main {
        flex-direction: column;
    }

    main {
        position: relative;
        margin-top: 1rem;
        width: min(100% - 5vw);

    }

    .home {
        flex-direction: column;
    }

    .home_main_content {
        width: 100%;
    }
}

@media screen and (max-width: 630px) {
    .main_container {
        background-image: url(./assets/home/background-home-mobile.jpg);
    }

    .tech_container {
        background-image: url(./assets/technology/background-technology-mobile.jpg);
    }

    .crew_container {
        background-image: url(./assets/crew/background-crew-mobile.jpg);
    }

    .dest_container {
        background-image: url(./assets/destination/background-destination-mobile.jpg);
    }

    .topnav_links {
        display: none;
        visibility: hidden;
    }

    .all {
        background-color: transparent;
        z-index: -100px;
        height: 100vh;
        width: 100%;
        z-index: 1;
        position: absolute;
    }

    .overlay {
        top: 0;
        right: 0;
        overflow: hidden;
        background-color: hsl(var(--LIGHT-WHITE)/0.4);
        backdrop-filter: blur(30px);
        display: flex;
        position: fixed;
        height: 100vh;
        z-index: 100;
        width: 0;
        overflow: hidden;
        transition: all ease-out .3s;
    }



    .overlay_content ul {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        top: 6rem;
        left: 20px;
        position: relative;
    }

    .overlay_content {
        position: relative;
    }

    .overlay_content li {
        list-style: none;
        padding-block: 10px;
        display: block;
    }

    .overlay_content a {
        display: block;
        text-transform: uppercase;
        font-style: normal;
        font-weight: var(--FW-400);
        font-size: 80%;
        text-decoration: none;
        color: var(--LIGHT-WHITE)
    }


    .overlay_content a {
        display: flex;
        gap: 5px;
    }

    .overlay_content ul {
        display: flex;
        padding: 40% 0;
        gap: 1rem;
    }

    .overlay_content a:hover {
        color: var(--WHITE);
    }

    .logo {
        margin-top: -14px;
    }

    .open {
        z-index: 100;
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    /* HOME MAIN STYLING  */
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 360px) {}

@media screen and (max-width: 320px) {}