/* GENERAL RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLING */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-decoration: none;
    font-family: var(--ff-sans-normal);
    line-height: 1.5;
    overflow-x: hidden;
    background-color: rgb(9, 9, 32);
}

a {
    text-decoration: none;
}

/* VARIABLE  */
:root {
    /* CLOUR  */
    --LIGHT-WHITE: hsl(231, 77%, 90%);
    --VERY-LIGHT-WHITE: rgba(210, 216, 249, 0.427);
    --WHITE: rgb(255, 255, 255);
    --BLACK: rgb(84, 84, 84);
    /* BOLDNESS  */
    --FW-400: 400;
    --FW-500: 500;
    --FW-600: 600;
    --FW-700: 700;
    --FW-800: 800;
    --filter: blur(10px);
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;

}

/* PAGES DESTINATION, CREW, TECHNOLOGY  */
.tech_container {
    background-image: url(./assets/technology/background-technology-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: 50%;
}

.crew_container {
    background-image: url(./assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: 50%;
}

.dest_container {
    background-image: url(./assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: 50%;
}

/* HOME PAGE  */
/* HERO BACKGROUND IMAGE  */
.main_container {
    background-image: url(./assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50%;
}

/* NAVIGATION MENU  */
.logo {
    margin-inline-start: 4vw;
}

.topnav ul {
    background: hsl(var(--LIGHT-WHITE)/.05);
    backdrop-filter: blur(1.5rem);
    display: flex;
    padding: 30px 100px;
    gap: 1rem;
}

.topnav ul li {
    padding: 3px 10px;
    list-style: none;
}

.nav_bold {
    font-weight: var(--FW-600);
    color: var(--WHITE);
}

.topnav_links a {
    font-size: 75%;
    text-transform: uppercase;
    font-style: normal;
    font-weight: var(--FW-400);
    text-decoration: none;
    color: var(--LIGHT-WHITE)
}

.active {
    padding-bottom: 33px;
    border-bottom: 2px solid var(--WHITE);
}


.topnav ul a:hover {
    padding-bottom: 33px;
    border-bottom: 2px solid var(--VERY-LIGHT-WHITE);
}

.logo {
    margin-top: 1.7rem;
}

ul {
    cursor: pointer;
}

.topnav {
    position: relative;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.overlay,
.open {
    display: none;
}

/* MAIN HOME SECTION  */
main {
    margin-top: 5rem;
    width: min(100% - 20vw);
    margin-inline: auto;
}

.home {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.home_main_content {
    width: 370px;
    display: flex;
    flex-direction: column;
}

.home_main_content h4 {
    font-weight: var(--FW-400);
    font-size: 1.5rem;
    letter-spacing: 4px;
    color: var(--LIGHT-WHITE);
    font-weight: var(--FW-400);
    font-family: var(--ff-sans-cond);

}

.home_main_content h1 {
    font-family: var(--ff-serif);
    color: var(--WHITE);
    font-size: 8rem;
    font-weight: var(--FW-400);
}

.home_main_content p {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: var(--FW-500);
    color: var(--LIGHT-WHITE);
}

.home_main_btn button {
    border: none;
    outline: none;
    display: flex;
    font-weight: var(--FW-400);
    font-size: 1.5rem;
    font-family: var(--ff-serif);
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@media screen and (max-width: 960px) {
    .main_container {
        background-image: url(./assets/home/background-home-tablet.jpg);
        height: 110vw;
    }

    .tech_container {
        background-image: url(./assets/technology/background-technology-tablet.jpg);
    }

    .crew_container {
        background-image: url(./assets/crew/background-crew-tablet.jpg);
    }

    .dest_container {
        background-image: url(./assets/destination/background-destination-tablet.jpg);
    }

    .topnav {
        font-size: 70%;
    }

    .topnav ul {
        background: hsl(var(--LIGHT-WHITE)/.9) !important;
        backdrop-filter: blur(30px);
    }

    /* MAIN STYLING  */
    .home_main_content h1 {
        font-size: 6rem;
    }

}

@media screen and (max-width: 768px) {

    /* HOME MAIN STYLING  */
    .home_main {
        flex-direction: column;
    }

    main {
        position: relative;
        margin-top: 1rem;

    }

    .home {
        margin-top: 4rem;
        gap: 4rem;
        flex-direction: column;

    }

    .home_main_content {
        width: 100%;
    }

    .home_main_content {
        text-align: center;
    }

    .home_main_content h1 {
        font-size: 5rem;
    }

    .home_main_content h4 {
        font-size: 100%;
    }

    @media screen and (max-width: 630px) {
        .main_container {
            background-image: url(./assets/home/background-home-mobile.jpg);
            height: 145vw;
        }

        .tech_container {
            background-image: url(./assets/technology/background-technology-mobile.jpg);
        }

        .crew_container {
            background-image: url(./assets/crew/background-crew-mobile.jpg);
        }

        .dest_container {
            background-image: url(./assets/destination/background-destination-mobile.jpg);
        }

        .topnav_links {
            display: none;
            visibility: hidden;
        }

        .all {
            background-color: transparent;
            height: 100vh;
            width: 100%;
            z-index: 1;
            position: absolute;
        }

        .overlay {
            top: 0;
            right: 0;
            overflow: hidden;
            background-color: hsl(var(--LIGHT-WHITE)/0.4);
            backdrop-filter: blur(30px);
            display: flex;
            position: fixed;
            height: 100vh;
            z-index: 100;
            width: 0;
            overflow: hidden;
            transition: all ease-out .3s;
        }



        .overlay_content ul {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            top: 6rem;
            left: 20px;
            position: relative;
        }

        .overlay_content {
            position: relative;
        }

        .overlay_content li {
            list-style: none;
            padding-block: 10px;
            display: block;
        }

        .overlay_content a {
            display: block;
            text-transform: uppercase;
            font-style: normal;
            font-weight: var(--FW-400);
            font-size: 80%;
            text-decoration: none;
            color: var(--LIGHT-WHITE)
        }


        .overlay_content a {
            display: flex;
            gap: 5px;
        }

        .overlay_content ul {
            display: flex;
            padding: 40% 0;
            gap: 1rem;
        }

        .overlay_content a:hover {
            color: var(--WHITE);
        }

        .logo {
            margin-top: -14px;
        }

        .open {
            z-index: 100;
            display: block;
            position: absolute;
            right: 20px;
            top: 20px;
        }

        /* HOME MAIN STYLING  */
    }

    @media screen and (max-width: 560px) {
        .home_main_content {
            gap: 1rem;
        }

        .home_main_content h1 {
            font-size: 5rem;
        }

        .home_main_content h4 {
            font-size: 95%;
        }

        .home_main_content p {
            font-size: 1rem;
        }

        main {
            width: min(100% - 9vw);
            margin-inline: auto;
        }
    }

    @media screen and (max-width: 480px) {
        .main_container {
            background-image: url(./assets/home/background-home-mobile.jpg);
            height: 175vw;
        }
    }

    @media screen and (max-width: 375px) {
        .main_container {
            background-image: url(./assets/home/background-home-mobile.jpg);
            height: 225vw;
        }
    }

    @media screen and (max-width: 360px) {
        .main_container {
            background-image: url(./assets/home/background-home-mobile.jpg);
            height: 225vw;
        }
    }

    @media screen and (max-width: 320px) {
        .main_container {
            background-image: url(./assets/home/background-home-mobile.jpg);
            height: 245vw;
        }
    }